body {
    font-family: 'Raleway', sans-serif;
}

.discounts {
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgb(146, 146, 146);
}

.jumbotron, .discounts {
    border: 1px solid #cecece;
}

.toast {
    position: absolute;
    top: 65px;
    right: 10px;
}